apiVersion: v1
kind: Service
metadata:
  name: pg
spec:
  ports:
  - port: 5432
    name: pg
  selector:
    app: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: "postgres-headless"
  labels:
    app: postgres
spec:
  ports:
  - port: 5432
    name: pg
  clusterIP: None
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pg
spec:
  serviceName: "postgres-headless"
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: ghcr.io/datewu/pg-ts:v15.3-3.1.1
        env:
        - name: POSTGRES_USER
          value: tongu
        - name: POSTGRES_PASSWORD
          value: changeme_xxx
        - name: POSTGRES_DB
          value: wan
        ports:
        - containerPort: 5432
          name: pg
        volumeMounts:
        - name: pg-data
          mountPath: /var/lib/postgresql
  volumeClaimTemplates:
  - metadata:
      name: pg-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 35Gi
